{{ define "main" }}
<main class="content-width">
  <div class="fw6 heading-color heading-font post-title">{{ .Title }}</div>
  <p class="silver post-meta" style="margin-bottom: 2rem;">
    {{ if not .Date.IsZero }}<time>{{ .Date.Format "02 Jan 2006" }}</time> {{ end }}
    {{ if or .Params.tags .Params.categories .Params.series }} | {{ end }}
    {{ if isset .Params "categories" }}
    categories: [ {{ range .Params.categories }}<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
    {{ end }}
    {{ if isset .Params "tags" }}
    tags: [ {{ range .Params.tags }}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
    {{ end }}
  </p>
  <div class="lh-copy post-content">{{ .Content }}{{ if not .Date.IsZero }}<p class="gray small">You can email me at lingyihuu(at)gmail.com if you have any comments, suggestions, or questions. I should respond promptly, because frankly I am not famous enough to be ignoring emails yet.</p>{{ end }}</div>
</main>
{{ partial "table-of-contents" . }}
{{ end }}