<script id="algolia__template" type="text/template">
{% raw %}
<!--   <div class="algolia__result">
  	<h4>
    	<a class="algolia__result-link" href="{{ full_url }}#algolia:{{ css_selector }}">{{{ _highlightResult.title.value }}}</a>
    </h4>
    {{#posted_at}}
    <div class="algolia__result-date post-date">{{ posted_at_readable }}</div>
    {{/posted_at}}
    <div class="algolia__result-text">{{{ _highlightResult.text.value }}}</div>
  </div> -->
  <div class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="{{ full_url }}#algolia:{{ css_selector }}">
          {{{ _highlightResult.title.value }}}
        </a>
      </h2>
    </header>
    <div class="post-excerpt">
      {{{ _highlightResult.text.value }}}
    </div>
    <div class="post-footer">
      <ul class="x-separated-list x-separated-list-meta x-separated-list-small">
        {{#posted_at}}
        <li class="post-date"><time>{{ posted_at_readable }}</time></li>
        {{/posted_at}}
      </ul>
    </div>
  </div>
{% endraw %}
</script>
<script id="algolia__template--no-results" type="text/template">
  <div class="algolia__no-result">No results, my dear Watson.</div>
</script>