<script>
  window.ALGOLIA_CONFIG = {
    'applicationID': '{{ site.algolia.application_id }}',
    'indexName': '{{ site.algolia.index_name }}',
    'apiKey': '{{ site.algolia.read_only_api_key }}',
    'baseurl': '{{ site.baseurl }}'
  }
</script>
<script id="algolia__template" type="text/template">
{% raw %}
  <div class="algolia__result">
    <h4><a class="post-link algolia__result-link" href="{{ full_url }}#algolia:{{ css_selector }}">{{{ _highlightResult.title.value }}}</a></h4>
    <span class="algolia__result-date date">{{ posted_at_readable }}</span>
    <p class="description algolia__result-text">{{{ _highlightResult.text.value }}}</p>
  </div>
{% endraw %}
</script>
<script id="algolia__template--no-results" type="text/template">
  <div class="algolia__no-result">No results, my dear Watson. </div>
</script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3.22.1/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch.helper/2.1.0/algoliasearch.helper.min.js"></script>
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.10.3/moment.min.js"></script>
<script src="{{ '/assets/js/algoliasearch.js' | absolute_url }}"></script>