// .highlight {
//   white-space: pre; 
//   overflow: auto; 
//   word-wrap: normal; /* horizontal scrolling */
//   -moz-border-radius: 3px; 
//   -webkit-border-radius: 3px; 
//   border-radius: 3px;
//   padding: 20px; 
//   background: #343642;
//   color: #C1C2C3;
// }

.hljs {
  white-space: pre; 
  overflow: auto; 
  word-wrap: normal; /* horizontal scrolling */
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
  padding: 20px; 
  margin-bottom: 2rem;
  color: #C1C2C3;
}

