{{ define "main" }}
<main class="center mv4 content-width ph3">
  <!-- <div class="f2 fw6 heading-color heading-font">404</div> -->
  <h1>404</h1>
  <p class="lh-copy post-content f4">
    Sorry, but nothing exists here. <br>
    Find something <a href='{{ "" | relURL }}'>interesting to read.</a>
    <br>
    <blockquote>
      <p>Death makes no sense except to people who have passionately loved life. How can one die without having something to part from? Detachment is a negation of both life and death. Whoever has overcome his fear of death has also triumphed over life. For life is nothing but another word for this fear.</p><p></p>
      <p><cite>Emil M. Cioran, Tears and Saints</cite></p>
    </blockquote>
  </p> 
</main>
{{ end }}