*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (min-width: 48em) {
  html {
    font-size: 70%;
  }
}

body {
  background-color: #fbfbfb;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 150px);
  background-image: linear-gradient(to bottom, rgba(#fff, .5), rgba(#fff, 0) 150px);
  background-repeat: no-repeat;
  color: #444444;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  // font-family: -apple-system,BlinkMacSystemFont, Lora, Helvetica, "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: border-color .1s, color .1s;
}

a:hover {
  color: mix(#fff, $primary-color, 20%);
}

textarea, textarea[type=text] {
  padding: 1.1rem;
}

// p,
// dl,
// dd,
// ul,
// ol,
// blockquote,
// pre,
// table {
//   margin: 0 0 1rem;
// }

dt {
  font-weight: bold;
}

ul,
ol {
  ul,
  ol {
    margin-bottom: 0;
  }
}

ul {
  list-style: disc;
}

// blockquote {
//   font-size: 21px;
//   font-style: italic;
//   padding: 7px 0;

//   @include breakpoint {
//     font-size: 25px;
//     padding-bottom: 15px;
//     padding-top: 15px;
//   }

//   p:last-child {
//     margin-bottom: 0;
//   }

//   .attribution {
//     margin-top: -20px;
//     font-size: 16px;
//     font-style: normal;
//   }
// }

// pre,
// code {
//   font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
// }

// code {
//   color: #000;
// }

code { white-space: normal; }

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  border-left: .3rem solid $primary-color; 
  color: #696969;
  // *:last-child { margin-bottom: 0; }
  cite {
    font-style: italic;
    display: block;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

svg {
  fill: currentColor;
}

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 28px 0;

  @include breakpoint {
    margin: 30px 0;
  }
}

table {
  border-bottom: 1px solid #eee;
  border-collapse: collapse;
  margin-left: -10px;
  margin-right: -10px;
  width: 100%;
}

caption,
th,
td {
  padding: 7px 10px;
  text-align: left;

  @include breakpoint {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

caption {
  color: #aaa;
  font-style: italic;
}

tr {
  border-top: 1px solid #eee;
}

main > *:last-child {
  margin-bottom: 0;
}

input[type=text] {
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.4em;
  padding: .3em 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  &:focus {
    border-color: rgba(0, 0, 0, 0.8);
  }
}

.algolia__input {
  max-width: 400px;
}