/*https://coolors.co/afd5aa-f0f2ef-a69f98-3d3d3d-8c6057*/
/*:root {
  --main-color: #586BA4;
  --secondary-color: #F5DD90;
  --logo-text-color: #fff;
  --heading-text-color: #4D525E;
  --body-text-color: #3d3d3d;
  --background-color: #fdfdff;
}*/

:root {
  --main-color: #4c4e4f;
  --secondary-color: #F5DD90;
  --logo-text-color: #fff;
  --heading-text-color: #4c4e4f;
  --body-text-color: #4c4e4f;
  --background-color: #fdfdff;
}

/*:root {
  --main-color: #4169E1;
  --secondary-color: #F5DD90;
  --logo-text-color: #fff;
  --heading-text-color: #4D525E;
  --body-text-color: #3d3d3d;
  --background-color: #fdfdff;
};*/

/*:root {
  --main-color: #C95D63;
  --secondary-color: #C0C0C0 ;
  --logo-text-color: #f5f7f7;
  --heading-text-color: #333;
  --body-text-color: #3d3d3d;
  --background-color: #fffdfd;
};*/

.notice {
  border-radius: 5px;
  padding: 1em;
  border: 1px dashed;
}
